.body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.body > section {
	width: 100%;
}

.main{
  max-width: 90%;
  display: flex;
  flex-direction: column;
  border: 0.005rem solid #7a1f5c;
  border-radius: 0.5rem;
  margin-left: 5%;
  margin-bottom: 2%;
  background: #f5d6eb;
}
.main > section {
	width: auto;
}

.pagename {
	font-size: 1.5rem;
	text-align: center;
}
.blogtitle {
	font-size: 1.5rem;
	padding: 0 0 0 3%;
	text-decoration: underline;
	font-style: italic;
	text-align: center;
}


.blogbody {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}


.blogbodytext {
	font-size: 1.2rem;
	padding: 0 3% 0 3%;
	text-align: justify;
	flex-grow: 3;
}

section.blogbodyimage {

	width: 100%
}

img.blogbodyimage {
	padding-top: 2%;
	padding-left: 5%;
	margin: auto;
	max-width: 100%;
	display: block;
}


@media screen and (max-width:800px){
	.blogbody {
		max-width: 90%;
		display: flex;
		flex-direction: column;
	}
	
	.blogbody > section{
		
		width: 100%;
	}
}
